@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.bg-hero-desktop {
    width: 100%;
    height: 741px;
    position: absolute;
    background-color: #EDFBFF;
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 70px;
}

.logo {
    width: 200px;
    height: 31px;
    margin-left: 80px;
}

.tryit {
    width: 200px;
    height: 48px;
    background-color: white;
    border-radius: 24px;
    color: #00252E;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 19.07px;
    font-weight: 600;
}

.box-1 {
    display: flex;
    margin-top: 71px;
    justify-content: center;
    align-items: center;
}

.main-content {
    width: 536px;
    height: 321px;
    
}
h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #00252E;
}

.main-content p {
    margin-top: 32px;
    font-size: 18px;
    line-height: 27px;
    color: #00252E;
}

.get-started {
    margin-top: 32px;
    width: 280px;
    height: 56px;
    background-color: #FF52C1;
    border-radius: 28px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mockups {
    width: 680px;
    height: 482px;
    margin-left: 150px;
}

.image {
    width: 406.47px;
    height: 332.29px;
}

.message-1 {
    display: flex;
    width: 1300px;
    height: 440px;
    align-items: center;
    justify-content: center;
    margin-top: 232px;
    box-shadow: 0px 0px 14px -8px #000000 ;
}

.grow-together {
    width: 500px;
    height: 140px;
}

.together {
    margin-left: 170px;
}

.benefits {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    color: #00252E;
    line-height: 42px;
}

.grow-together p {
    margin-top: 16px;
    font-size: 18px;
    color: #808E9A;
    line-height: 27px;
}

.message-2 {
    display: flex;
    width: 1300px;
    height: 440px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0px 0px 14px -8px #000000 ;
}

.flowing {
    width: 500px;
    height: 140px;
    margin-left: 155px;
}

.flowing p {
    margin-top: 16px;
    font-size: 18px;
    color: #808E9A;
    line-height: 27px;
}

.message-3 {
    display: flex;
    width: 1300px;
    height: 440px;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    box-shadow: 0px 0px 14px -8px #000000;
}

.users {
    width: 480px;
    height: 140px;
    margin-right: 180px;
}

.users p {
    margin-top: 16px;
    font-size: 18px;
    color: #808E9A;
    line-height: 27px;
}

.question-block {
    display: flex;
    justify-content: center;
    z-index: 100;
}

.question {
    width: 800px;
    height: 280px;
    border-radius: 15px;
    box-shadow: 0px 0px 14px -9px #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 2450px;
    position: absolute;
    background-color: white;
}

.question p {
    font-weight: 600;
    font-size: 32px;
    color: #00252E;
    line-height: 60px;
}

.get-started-2 {
    margin-top: 32px;
    width: 280px;
    height: 80px;
    background-color: #FF52C1;
    border-radius: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    width: 100%;
    height: 418px;
    background-color: #00252E;
    margin-top: 330px;
    padding-top: 150px;
    z-index: -3;
    display: flex;
    justify-content: center;
}

.data {
    display: flex;
}

.location-text {
    width: 340px;
    height: 72px;
    font-size: 14px;
    line-height: 24px;
    margin-left: 27px;
    color: white;
}
.location {
    width: 13px;
    height: 18px;
    margin-top: 5px;
}
.phone, .email {
    width: 20px;
    height: 20px;
}

.phone-number, .pochta {
    margin-left: 16px;
    color: white;
    font-size: 14px;
    line-height: 24px;
}



.number, .mail {
    margin-top: 16px;
}
.second-column {
    margin-left: 220px;
}

.geo {
    margin-top: 32px;
}

.second-column, .third-column, .fourth-column {
    margin-top: 56px;
}

.third-column {
    margin-left: 220px;
}

.fourth-column {
    margin-left: 220px;
}

.second-column, .third-column {
    font-size: 14px;
    color: white;
    line-height: 27px;
}

.second-column p:not(:first-child) {
    margin-top: 14px;
}

.third-column p:not(:first-child) {
    margin-top: 14px;
}

.media {
    display: flex;
}

.fourth-column p {
    margin-top: 107px;
    font-size: 14px;
    color: white;
    line-height: 18px;
}

.ikon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #DFE4F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bx {
    color: white;
    font-size: 18px;
}

.twitter, .instagram {
    margin-left: 20px;
}

.tryit:hover {
    color: #808E9A;
    cursor: pointer;
}

.get-started:hover {
    background-color: #FF9ADB;
    cursor: pointer;
}

.get-started-2:hover {
    background-color: #FF9ADB;
    cursor: pointer;
}

.yo p:hover {
    text-decoration: underline;
    cursor: pointer;
    /* border-bottom: 1px solid white; */
}

.ikon:hover {
    border: 1px solid #FF52C1;
    cursor: pointer;
}

.ikon:hover .bx {
    color: #FF52C1;
}